html,body{
	height: 100%;
 	background-color: #f7f4e5;


}

.header-content{
	position: relative;
	width: 892px;
	height: 118px;
	margin:0 auto;
}

#header{
	width:100%;
	height: 118px;
	background-image: url(../images/header-bg.jpg);
	background-repeat: repeat-x;
	

}
/* LOGO开始 */
.logo{
	position: absolute;
	top:54px; 
	left:0px;
}
#logo-text1{
	padding:0;
	margin: 0 0 0 5px;
	display: block;	
	font-family: 黑体;
	font-weight:bold;
	font-size: 22px;
}

#logo-text2{
	 margin:0;
	 font-family: 黑体;
	 color: #312b2b;
	 font-size: 16px;
	 display: block;

}

/* LOGO结束 */

/* nav开始 */
#nav_box{
	width:473px;
	height:48px;
	position: absolute;
	text-align:center;
	left:202px;
	top:56px;   
    

}


#nav_box img{

	width: 408px;
	height: 12px;
	display：inline-block；
}

#navtext2{
	width:476px;
	height:24px;
	
	background-color:#f191a0;	
			border-radius:24px; 
	-webkit-border-radius:24px;//webkit内核
  	   -moz-border-radius:24px;//mozilla
  		-ms-border-radius:24px;//IE
  		 -o-border-radius:24px;//opera
  	text-align:center;
	border:2px solid;
	border-color: #f87e9e;
	text-align: center;
}
#navtext2 ul{
	width:450px;
	height:24px;	
	margin: 0 auto;
	display:block;
	text-align: center;
}
#navtext2 ul li{
	float: left;
	height: 24px;
	list-style-type: none;	
	display:inline-block;


	
}
#navtext2 li a{
	float: left;
	display:inline;
	color:#ffffff;
	height: 24px;
	line-height:24px;
	text-decoration:none;
	cursor:pointer;
	font-family:"黑体";
	font-size: 16px;

}
#navtext2 .line1{
	float: left;	
    height: 15px;
    width: 1px;
    background: #ffffff;
    margin:5px 6px 0 6px;
    position: relative;
    left: 1px;
    display: inline;
}
#navtext2 .line2{
	float: left;	
    height: 15px;
    width: 1px;
    background: #ffffff;
    margin:5px 6px 0 6px;

}
#navtext2 .line3{
	float: left;	
    height: 15px;
    width: 1px;
    background: #ffffff;
    margin:5px 6px 0 6px;
    position: relative;
    left: -3px;

}
#navtext2 .line4{
	float: left;	
    height: 15px;
    width: 1px;
    background: #ffffff;
    margin:5px 6px 0 6px;
    position: relative;
    left: -3px;

}
#navtext2 .line5{
	float: left;	
    height: 15px;
    width: 1px;
    background: #ffffff;
    margin:5px 6px 0 6px;
    position: relative;
    left: -3px;

}

/* nav结束 */

/* 搜索栏开始 */

#right-icon{
	position: absolute;
	top:52px;
	right:0px;
}
#right-icon img{
	cursor: pointer;
}

 
.search{
	float: right;
	position: absolute;
	top:80px;
	right:0px;
	width:138px;
	height:23px;	
}
 
.search .search-text{
	cursor:pointer;
	float: left;
	line-height:22px;	
	width:113px;
	height:22px;	
	background-color:#ffffff;
	padding:0;
	border:1px solid #E4E4E4;
	color:#C4C4C4;

}



.search .btn{
	float:right;	
	height:22px;
	width:23px;
	background-image:url("../images/search.jpg");
	border:none;
	cursor: pointer;
}
	
/* 搜索栏结束 */


#main{
		width:100%;
		background-image: url(../images/main-gb.jpg);
		background-repeat;
}

#mid{
	width: 892px;
	height: 256px;
	margin:0 auto;
	padding: 0;
	

}

.flexslider{
	margin:0 auto;
	width: 872px;
	height: 270px;
}

#split-line{
	width: 892px;
	height: 42px;
	margin:0 auto;
	padding: 0;
	position:relative;
	top:42px;
}
#leftsplit-line{
	float: left;
}
#rightsplit-line{
	float: right;
}
#pointline{
	width: 892px;
	position:absolute;
	bottom: 0px;
	left:0;
}


#ad-text{
	width: 842px;
	height: 276px;
	margin:56px auto 0;
	padding: 0;
	position: relative;
}



/* ------------left-text------------ */
#left-text{
	float: left;
	width: 198px;
	height: 274px;
	background-image: url(../images/left-text-bg.png);
	position: relative;
}

#left-success{
	width:184px;
	height: 34px;
	position: absolute;
	top:20px;
	left: -8px;
	background-image: url(../images/left-title.png);
}

#success-text{
	position: absolute;
	top:20px;
	left: 5px;
	color: #ffffff;
	font-size: 18px;
	font-family: "微软雅黑";
	  text-shadow: red -1px -1px 1px;
	text-decoration:none;
	z-index: 1;
}

#left-text span{
	font-family: "Arial";
	font-size: 13px;
	color: #aba890;
	position: absolute;
	top:56px;
	left:6px;
	font-weight: bold;

}

#left-text #manytext1{

	font-family: "Arial";
	font-size: 11px;
	color: #616161;
	position: absolute;
	top:80px;
	left:14px;
	width: 175px;
	height: 170px;
}

#left-text #manytext2{
	font-family: "Arial";
	font-size: 11px;
	color: #616161;
	position: absolute;
	top:150px;
	left:14px;
	width: 175px;
	height: 150px;
}

.read-more{
	width: 82px;
	height: 27px;
	position: absolute;
	right: 12px;
	bottom: 10px;
	background-image: url(../images/left-readmore.png);
	border-style:none;
	vertical-align:middle;	
	/* cursor:pointer; */
}

.readmore-text{
	width: 82px;
	height: 27px;
	position: absolute;
	right: 0px;
	bottom: 5px;
	font-family: "Arial";
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	z-index: 9999;
	border-style:none; 
	cursor:pointer;
}




/* ------------mid-text------------ */
#mid-text{
	position: absolute;
	left: 230px;
	margin: 0;
	width: 378px;
	height: 278px;
	background-image: url(../images/mid-text-bg.png);	
}

#mid-success{
	width:396px;
	height: 40px;
	position: absolute;
	top:10px;
	left: -8px;
	background-image: url(../images/mid-title.png);
}
#mid-success-text{
	position: absolute;
	top:14px;
	left: 8px;
	color: #ffffff;
	font-size: 18px;
	font-family: "微软雅黑";
	text-shadow: red -1px -1px 1px;
	text-decoration:none;
	z-index: 1;
}
#right-text span{
	font-family: "Arial";
	font-size: 13px;
	color: #aba890;
	position: absolute;
	top:56px;
	left:6px;
	font-weight: bold;

}
#mid-text span{
	font-family: "Arial";
	font-size: 13px;
	color: #aba890;
	position: absolute;
	top:64px;
	left:16px;
	font-weight: bold;
}
#mid-text #manytext1{

	font-family: "Arial";
	font-size: 11px;
	color: #616161;
	position: absolute;
	top:86px;
	left:16px;
	width: 334px;
	
}

#mid-text #manytext2{
	font-family: "Arial";
	font-size: 11px;
	color: #616161;
	position: absolute;
	top:120px;
	left:16px;
	width: 334px;
}

#mid-pic{
	width: 242px;
	height: 78px;
	position: absolute;
}
#mid-pic #midpic1{
	left: 25px;
	top: 188px;
	width: 106px;
	height: 66px;
	position: absolute;
	z-index: 999;
}
#mid-pic #midpic-bg1{
	left: 20px;
	top: 184px;
	width: 115px;
	height: 75px;
	position: absolute;
}
#mid-pic #midpic2{
	left: 151px;
	top: 188px;
	width: 106px;
	height: 66px;
	position: absolute;
	z-index: 999;
}
#mid-pic #midpic-bg2{
	left: 146px;
	top: 184px;
	width: 115px;
	height: 75px;
	position: absolute;
}


/* ------------right-text------------ */

#right-text{
	float: right;
	width: 198px;
	height: 274px;
	background-image: url(../images/left-text-bg.png);
	position: relative;

}
#right-success{
	width:184px;
	height: 34px;
	position: absolute;
	top:20px;
	left: -8px;
	background-image: url(../images/left-title.png);
}

#right-text span{
	font-family: "Arial";
	font-size: 13px;
	color: #aba890;
	position: absolute;
	top:56px;
	left:6px;
	font-weight: bold;

}

#right-text #manytext1{

	font-family: "Arial";
	font-size: 11px;
	color: #616161;
	position: absolute;
	top:80px;
	left:14px;
	width: 175px;
	height: 170px;
}

#right-text #manytext2{
	font-family: "Arial";
	font-size: 11px;
	color: #616161;
	position: absolute;
	top:150px;
	left:14px;
	width: 175px;
	height: 150px;
}


#footer{
	width: 892px;
	height:42px;
	margin: 16px auto;
	position: relative;
}
#footer-left-bg{
	width: 126px;
	height: 7px;
	position: absolute;
	left: 80px;
	background-image:url(../images/footer-dot-line.png);
	
}
#footer-left-text{
	display: inline;
	float: left;
	position: absolute;
	left: 25px;
	margin: 0;
}
#footer-left-text ul{
	margin: 0;
	padding: 0;
	width: 240px;
	height: 16px;
}
#footer-left-text ul li{
	float: left;
	width:50px;	
	list-style-type: none;
}

#footer-left-text ul li a{	
	text-decoration:none;
	cursor:pointer;
	text-align: center;
	display: block;
	color: #8d786a;
	font-family: "微软雅黑";
	font-size: 12px;	
}
#footer-left-text #footer-left-text1{
	position: relative;
	top: -5px;

}
#footer-left-text #footer-left-text2{
	position: relative;
	top: -5px;
	left:12px;
}

#footer-left-text #footer-left-text3{
	position: relative;
	top: -5px;
	left:25px;
}
#footer-left-text #footer-left-text4{
	position: relative;
	top: -5px;
	left:35px;
}

#footer-right{
	float: right;
	width: 400px;
	height: 64px;
	
}

#address{
	float: right;
	color: #8d786a;
	font-family: "微软雅黑";
	font-size: 12px;
	margin: 0;

}
 #footer-right #num1 span{
	float: right;
	position: absolute;
	right: 0;
	top:15px;
	color: #8d786a;
	font-family: "微软雅黑";
	font-size: 8px;
	-webkit-transform:scale(0.98);
	display:block;
	padding:0px;
	margin: 0px;
}
 #footer-right #num2 span{
	float: right;
	position: absolute;
	right: 0;
	top:28px;
	color: #8d786a;
	font-family: "微软雅黑";
	font-size: 8px;
	-webkit-transform:scale(0.98);
	display:block;
	padding:0px;
	margin: 0px;
}


#sidebar{
	width: 26px;
	height: 506px;
	position: absolute;
	left: 50%;
	top:180px;
	margin-left: 460px;
}

#sidebar-service{
	width: 26px;
	height: 90px;
	background-color:#ffffff;

			border-radius:30px; 
	-webkit-border-radius:30px;/* webkit内核 */
  	   -moz-border-radius:30px;/* mozilla */
  		-ms-border-radius:30px;/* IE */
  		 -o-border-radius:30px;/* opera  */

	border-color:#f191a0;
	border-style: solid;
	border-width: 3px;
	position: relative;
	display: table;
	text-decoration: none; 
	
}

#sidebar-service-text{
	color: #f191a0;
	font-size: 14px;
	font-weight: bold;
	margin: o auto;
	text-align:center;
	width: 26px; 
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;

}

#sidebar-line{
	height: 398px;
	width: 1px;
	background-color:#f191a0;
	margin:0 auto;
	position: relative;
	left: 2px;
}

#sidbar-btn a {
	display: block;
	position: absolute;	 
	top: 483px;
	right: -2px;
	width: 25px;
	height: 25px;
	cursor:pointer;
	background-image:url(../images/sidebar-btn.png);


}